.home-container {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(217, 217, 217);
    padding-bottom: 30px;

    .shortcuts-container {
        height: 100%;
        width: 25%;
        padding: 20px;
        // background-color: rgba(112, 225, 225,0.4);
    }
    .middle-container {
        display: flex;
        height: 100%;
        width: 50%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        // background-color: rgb(98, 44, 152, 0.1);
        
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */

        /* Add custom styling to the scroll bar */
        &::-webkit-scrollbar {
          width: 5px; /* Adjust as needed */
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: transparent; /* Make the thumb transparent */
        }
      
        &::-webkit-scrollbar-track {
          background-color: transparent; /* Make the track transparent */
        }
      }  

    .contacts-container {
        height: 100%;
        width: 25%;
        padding: 20px;
        // background-color: rgba(255, 255, 0,  0.4);
    }
}